/* Обнуляющий стиль */
@import "null.css";
/* Подключаем шрифты */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/* ======================================================================================= */
.title {
	font-family: "Lato", sans-serif;
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   align-items: center;
   color: #1E212C;
}
.subtitle {
	font-family: "Lato", sans-serif;
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   color: #1E212C;
   text-align: left;
}
.text1 {
	font-family: "Lato", sans-serif;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
}
.text2{
	font-family: "Lato", sans-serif;
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   color: #1E212C;
}
.text3{
	font-family: "Lato", sans-serif;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
}
.list {
	font-family: "Lato", sans-serif;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
	text-indent: 20px;
}
.text4 {
	font-family: "Lato", sans-serif;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
}